<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/assets/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Chat</title>
    <meta name="description" content="AI Chat By:Lan www.lanol.cn">
    <meta name="keywords"
          content="AI Chat，ChatGPT 人工智能ChatGPT 聊天机器人ChatGPT ChatGPT免费 ChatGPT在线体验 ChatGPT官网 ChatGPT登录 ChatGPT注册 ChatGPT地址">
    <script type="module" crossorigin src="/assets/index-edff8616.js"></script>
</head>
<body>
<div id="app"></div>

</body>
</html>
